body {
    background-color: #D1E9F6;
    cursor: default;
    font-family: system-ui, sans-serif;
}

.navbar {
    position: fixed; /* */
    top: 0;
    right: 4vw;
    width: auto; /* Or a specific width like 25% or 100% */
    background-color: #D1E9F6; /* Example background color */
    padding: 12px; /* Example padding */
    font-weight: 350;
}

.navbar li {
    display: inline-block; /* Display list items horizontally */
}

.navbar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333; /* Example text color */
}

.navbar a:hover {
    color: #FFB8E0;
}


#webappTitle {
    font-weight: 100;
}

.mainContainer {
  width: 100%; /* Or any desired width */
  margin: 0 auto; /* Centers the container horizontally */
  text-align: center; /* Centers text content within the container */
}

#webappTitle {
    margin-top: 10%;
}

#signInForm {
    display: none;
}

#signInForm.show-sign-in-form {
    display: block;
}

#signUpForm {
    display: none;
}

#signUpForm.show-sign-up-form {
    display: block;
}

.circle-background {
width: 200px;
height: 200px;
background-color: #FFB8E0;
border-radius: 50%; /* Makes it a circle */
position: absolute; /* Allows positioning it on the background */
top: 50px;
left: 100px;
z-index: -1; /* Places the shape behind other content */
}

.square-background {
  width: 200px;
  height: 200px;
  background-color: #FFB8E0;
  position: absolute; /* Allows positioning it on the background */
  top: 650px;
  left: 600px;
  z-index: -1; /* Places the shape behind other content */
}

